.service-card {
  background: transparent;
  border: 1px solid var(--border-dark);
  border-radius: 20px;
  padding: 24px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.service-card:hover {
  background: var(--bg-darker);
  border-color: var(--primary);
  transform: translateY(-5px);
}

.service-title {
  color: var(--text-light);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

/* Illustration styling */
.service-illustration {
  background-color: var(--bg-darker);
  border-radius: 12px;
  padding: 16px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-dark);
}

.service-card:hover .service-illustration {
  border-color: rgba(251, 125, 69, 0.3);
}

.mock-window {
  width: 100%;
  height: 100%;
  background: #222;
  border-radius: 8px;
  color: white;
  display: flex;
  flex-direction: column;
}

.description{
  padding: 20px;
}

.mock-header {
  display: flex;
  gap: 6px;
  padding: 10px;
  border-bottom: 1px solid #333;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.dot-r { background-color: #FF5F56; }
.dot-y { background-color: #FFBD2E; }
.dot-g { background-color: #27C93F; }

.mock-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mock-line {
  height: 8px;
  background-color: #333;
  border-radius: 4px;
}
