.skills_main {
  width: 80vw;
  margin-left: 10vw;
  margin-top: 10vh;
}

.skills_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill_style {
  color: white;
  font-size: 35px;
  width: 30vw;
  display: flex;
  align-items: center;
}
.border {
  width: 20vw;
  border: 1px #c778dd98 solid;
  margin-left: 50px;
}

.grid_container {
  margin-top: 5vh;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.card {
  color: #c778dd;
  cursor: pointer;
  text-align: center;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  border-radius: 17px;
  height: fit-content;
  background-color: transparent;
  width: fit-content;
  border: #c778dd 2px solid;
}
.card:hover {
  border: white 2px solid;
}

.view_all {
  color: #abb2bf;
}

.view_all:hover {
  cursor: pointer;
  color: white;
}

.skills {
  font-size: 1.2rem;
  margin-left: 20px;
}

@media (max-width: 1000px) {
  .border {
    display: none;
  }

  .grid_container {
    width: 100vw;
  }
  .card {
    padding: 10px;
  }

  .skills {
    font-size: 1rem;
  }
}
