.social_main {
  width: 80vw;
  margin-left: 10vw;
  margin-top: 10vh;
}

.skills_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view_all {
  color: #abb2bf;
}

.social_content {
  width: 80vw;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  justify-items: center;
}

.social_des {
  text-align: center;
  font-weight: 200;
  font-size: 1.5rem;
  width: 40vw;
  font-weight: 500;
  color: #abb2bf;
  text-align: center;
}

.social_body {
  padding-top: 5vh;
  width: 80vw;
  background-color: #c778dd;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

.social_single {
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  cursor: pointer;
  padding: 20px;
  border-radius: 20px;

}
.social_single:hover{
  box-shadow: #c778dd 0px 1px 1px 0px inset, #c778dd 0px 0px 100px -20px,
  #c778dd 0px 30px 60px -30px;
}

.social_title {
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social_intro {
  width: 500px;
  margin: 0 auto;
  max-height: 300px;
  font-size: 1.5rem;
  display: flex;
  color: #abb2bf;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 200px;
  left: 100px;
  background-color: transparent;
}

.skill_style {
  color: white;
  font-size: 35px;
  width: 30vw;
  display: flex;
  align-items: center;
}
.border {
  width: 20vw;
  border: 1px #c778dd98 solid;
  margin-left: 50px;
}

.dotImage_container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.image_holder {
  height: 40vh;
  width: 40vw;
  position: relative;
}

.logo_container {
  position: absolute;
  top: 0;
  bottom: 100;
}

.social_name {
  background-color: white;
  font-weight: 500;
  font-size: 20px;
  color: #c778dd;
}

.social_media_content {
  font-weight: 200;
  font-size: 14px;
  color: black;
  background-color: white;
  font-weight: 500;
  margin-top: 20px;
  width: 250px;
}

@media (max-width: 1000px) {
  .skills_header {
    width: 80vw;
  }

  .border {
   display: none;
  }
}
