.about_main {
  width: 100vw;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #1f1f1f;
}

.about_text {
  width: 100vw;
  font-size: 35px;
  font-weight: 500;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #282C33;
  background-color: #1f1f1f;
}

.myself {
  font-weight: 200;
  font-size: 1rem;
  color: #282C33;
  background-color: #1f1f1f;
  width: 70vw;
  text-align: center;
}

.stats_main {
  text-align: center;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1f1f1f;
}

.stats_content {
  background-color: #1f1f1f;
  color: #282C33;
  font-weight: 700;
  font-size: 1.5rem;
}

.stats_value {
  background-color: #1f1f1f;
  color: #282C33;
  font-weight: 700;
  font-size: 4.5rem;
}

@media (max-width: 700px) {
  .stats_main {
    flex-direction: column;
  }
}
