.contact_main {
  margin-top: 10vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.header_wrapper {
  margin-left: 10vw;
}

.contact_animation {
  cursor: pointer;
}

.contact_text {
  width: 100vw;
  font-size: 35px;
  font-weight: 500;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skill_style {
  color: white;
  font-size: 35px;
  width: 30vw;
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  width: 80vw;
  margin-left: 10vw;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.form_left {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_right {
  margin-top: 10vh;
  width: 40vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.get_in_touch {
  font-size: 35px;
}

.get_in_touch_des {
  width: 35vw;
  font-weight: 200;
  text-align: center;
}

.send_message {
  height: 40px;
  width: 200px;
  background-color: #1f1f1f;
  color: #282c33;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.call {
  /* background-color: black; */
  display: flex;
  align-items: center;
}

.callIcons {
  border-radius: 100px;
}

.content {
  margin-left: 10px;
}

.name_input {
  width: 30vw;
  height: 40px;
  border: 1px solid #1f1f1f;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

.name_input:focus {
  outline: none; 
}

.textArea {
  height: 200px;
  width: 30vw;
  border: 1px solid #1f1f1f;
  border-radius: 5px;
  padding: 10px;
}

@media (max-width: 1000px) {
  .contact_main {
    width: 100vw;
  }

  .header_wrapper {
    margin-left: 10vw;
  }
  .form {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .form_right {
    width: 100vw;
  }
  .form_left {
    width: 100vw;
  }
  .name_input {
    width: 70vw;
  }
  .textArea {
    width: 70vw;
  }
}
