.header_main {
  background-color: #ffd4d0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 10vh;
}

.header {
  background-color: #ffd4d0;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation_item {
  background-color: #ffd4d0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.navigation_item:hover {
  color: white;
}

.navigation {
  width: 40vw;
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: #ffd4d0;
  justify-content: space-evenly;
}

.logo {
  font-size: 3rem;
  font-weight: 500;
  background-color: #ffd4d0;
}

.menuIcon {
  display: none;
}

@media (max-width: 1000px) {
  .navigation {
    display: none;
  }

  .menuIcon {
    display: block;
    background-color: #ffd4d0;
  }
}
