.intro_main {
  width: 100vw;
  height: 60vh;
  background-color: #282c33;
}

.content_main {
  width: 100vw;
  background-color: #282c33;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left_content {
  margin-top: 20vh;
  width: 50vw;
  background-color: #282c33;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right_content {
  margin-top: 20vh;
  width: 50vw;
  height: 50vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #282c33;
}

.role {
  font-weight: 700;
  font-size: 1.7rem;
  color: #c778dd;
  margin-right: 10px;
}
.contents {
  width: 30vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.little_intro{
  color: white;
}

.name {
  font-size: 1.7em;
  font-weight: 700;
  color: white;
  margin-right: 10px;
}

.button_grp {
  margin-top: 20px;
  width: 80vw;
  background-color: #282c33;
}

.hire_me {
  height: 40px;
  width: 100px;
  color: white;
  border: none;
  border-radius: 2px;
}

.hire_me:hover {
  cursor: pointer;
  color: #1f1f1f;
  background-color: white;
}

.skills {
  height: 40px;
  width: 200px;
  font-weight: 500;
  background-color: #282c33;
  color: white;
  border: 1px #c778dd solid;
  margin-left: 10px;
}

.skills:hover {
  cursor: pointer;
  color: #282c33;
  border: 1px #282c33 solid;
  background-color: #c778dd;
}

@media (max-width: 1000px) {
  .right_content {
    display: none;
  }
  .contents{
    width: 80vw;
  }

  .name {
    font-size: 1.2rem;
  }
  .role{
    font-size: 1.2rem;
  }
  .left_content {
    width: 100vw;
  }
}
